.jumbotron a {
  margin: 5px;
}

#homeBackground {
  background: linear-gradient(-45deg, white, gray, lightsteelblue, gray);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  height:auto;
  min-height:94.8vh;
  /* width:100vw; */
  z-index:-1
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
